:root {
  --main: rgb(35, 249, 7);
  --sub: #b700ff;
  --reachBlue: rgb(255, 55, 0);
  --reachRed: rgb(239, 34, 34);
  --reachGray: rgb(53, 53, 53);
  --reachWhite: rgb(34, 34, 34);
  --boxShadow: 0 0 10px 0 rgba(0, 204, 255, 0.4);
  --boxShadowMag: 0 0 10px 0 rgba(255, 0, 238, 0.4);
}

* {
  box-sizing: border-box;
}

*:not(body) {
  transition: all 0.3s;
}

body {
  /* font-family: Arial, Helvetica, sans-serif !important; */
  font-family: "Lucida Console", "Courier New", monospace !important;
  margin: 0;
  padding: 0;
  color: var(--reachGray);
  background-color: white;
}

/* -----------------App------------------- */
.mainHeader {
  text-align: center;
  font-size: 50px;
  color: rgb(30, 30, 30);
  padding: 40px 10px;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  width: 100%;
  margin: 0;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  margin: 0;
  gap: 10px;
  padding: 20px 10px 10px;
  /* background-color:#000; */
}

/* -----------------Wrapper------------------- */
.theme {
  text-align: center;
  width: 100%;
  margin-bottom: 0;
  padding: 5px;
}

.subTheme {
  text-align: center;
  width: 100%;
  color: var(--sub);
  margin-bottom: 0;
  padding: 5px;
}

/* -----------------View------------------- */
.subContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-wrap: wrap;
  width: max(70%, 350px);
  margin: 0;
  gap: 10px;
  padding: 20px 10px 10px;
  border-radius: 10px;
  border: 1px solid goldenrod;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
  border-radius: 15px;
  -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.subContainer::after {
  content: "";
  border-radius: 15px;
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.subContainer:hover {
  opacity: 1;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  -webkit-transform: scale(0.98, 0.98);
  transform: scale(0.98, 0.99);
}

.subContainer:hover::after {
  opacity: 0;
  -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.orderContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  margin: 0;
  gap: 10px;
  padding: 10px 5px;
}

.littleText {
  display: inline-block;
  width: 100%;
  text-align: center;
}

.miniHeader {
  width: 100%;
  text-align: center;
}

.actionButton {
  padding: 5px;
  font-family: "Lucida Console", "Courier New", monospace !important;
  color: darkcyan;
  background-color: transparent;
  border: 0;
  border-radius: 5px;
  font-weight: 600;
  border: 1px solid goldenrod;
}

.actionButton:hover {
  color: #000;
  background-color: #fff;
  transform: scale(1.05, 1.05);
  box-shadow: var(--boxShadow);
  border: none;
}

.fields {
  padding: 5px;
  display: inline-block;
  width: 100%;
  font-size: 16px;
  background-color: transparent;
  border: 0;
  color: var(--reachBlue);
  border-bottom: 2px solid var(--reachRed);
  outline: none;
}

.widthMax {
  width: 100%;
}